html{
    color: rgb(48, 46, 46);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-image: linear-gradient(
        to bottom,
        rgba(252, 69, 243, 0.3),
        rgba(248, 230, 66, 0)
      ), url("/public/greg-rosenke.jpg");
      background-repeat: no-repeat;
      background-size:cover;
}
.App{
  background-image: linear-gradient(
    to bottom,
    rgba(120, 250, 159, 0),
    rgba(116, 214, 231, 0)
  ), url("/public/unsplash.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  border-radius: 50% 20% / 10% 40%;
  box-shadow: #38778385 0px 0px 0px 1px inset, #62a8a385 10px -10px 0px -3px,
              #3877833b 9px -9px, #808ead73 20px -20px 0px -3px,#3877833d 19px -19px,
              #9383af85 30px -30px 0px -3px, #3877833b 29px -29px;


              box-shadow: #38778385 0px 0px 0px 1px inset, #62a8a385 10px -10px 0px -3px,
              #38778373 9px -9px, #808ead73 20px -20px 0px -3px,#3877833d 19px -19px,
              #9383af85 30px -30px 0px -3px, #3877833b 29px -29px;
}
.spans{
    color: bisque;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.sspans{
    text-align: center;
}